# Machine Learning for Team TBD

Import statements

In [8]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

Creating dataframe from csv

In [ ]:
# Load CSV into a Pandas DataFrame
df = pd.read_csv('/home/neil/coding/python/mis545-teamTBD-ML/student_success_enhanced.csv')

# Display information about the dataset (columns, non-null values, data types)
# print(df.shape)
print(df.info())
# print('\n')

# Display the first few rows to understand the structure of the data
# print(df.head())
# print()

# Optional: Check for missing values
# print(df.isnull().sum())

# Optional: Preprocessing steps (example below)
# - Handle missing values
# - Encode categorical variables
# - Normalize or scale numerical features

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 21 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Student_ID                  10000 non-null  int64
 1   GPA                         10000 non-null  float64
 2   SAT_Score                   10000 non-null  int64
 3   ACT_Score                   10000 non-null  int64
 4   Family_Size                 10000 non-null  int64
 5   Income_Level                10000 non-null  object
 6   Marital_Status              10000 non-null  object
 7   Support_Center_Utilization  10000 non-null  float64
 8   Retention_Rate              10000 non-null  float64
 9   Graduation_Rate             10000 non-null  float64
 10  Life_Event                  3978 non-null   object
 11  Institution_Type            10000 non-null  object
 12  Graduation_Age              10000 non-null  float64
 13  Major                       10000 non-null  object
 14  Study_Hours_Per_Week        10000 non-null  float64
 15  Student_Loan_Amount         10000 non-null  float64
 16  Campus_Engagement           10000 non-null  object
 17  First_Gen_Student           10000 non-null  bool
 18  Enrollment_Status           10000 non-null  object
 19  Distance_From_Home          10000 non-null  float64
 20  Work_Hours_Per_Week         10000 non-null  float64
dtypes: bool(1), float64(9), int64(4), object(7)
memory usage: 1.5+ MB
None
(10000, 21)